@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --text:#000;
    --textsky:#3EA3DC;
    --textfff:#fff;
    --bgred:#EE2F41;
    --bgef:#EFEFEF;
    --breadcump:#BEBEBE;
    --footer:#464E55;
    --header:#272727;
    --bgf0:#F0F0F0;
    --date:linear-gradient(90deg, rgb(17, 182, 228) 0%, rgb(238, 47, 65) 100%);
}
body,html{
    font-family: 'Roboto', sans-serif !important;
}
body{
    background: var(--bgef);
}
@-webkit-keyframes rectangleOneAnim {
    0% {
        height: 15px;
    }
    40% {
        height: 30px;
    }
    100% {
        height: 15px;
    }
}

@keyframes rectangleOneAnim {
    0% {
        height: 15px;
    }
    40% {
        height: 30px;
    }
    100% {
        height: 15px;
    }
}
@-webkit-keyframes rectangleTwoAnim {
    0% {
        height: 15px;
    }
    40% {
        height: 40px;
    }
    100% {
        height: 15px;
    }
}
@keyframes rectangleTwoAnim {
    0% {
        height: 15px;
    }
    40% {
        height: 40px;
    }
    100% {
        height: 15px;
    }
}
@-webkit-keyframes rectangleThreeAnim {
    0% {
        height: 15px;
    }
    40% {
        height: 50px;
    }
    100% {
        height: 15px;
    }
}
@keyframes rectangleThreeAnim {
    0% {
        height: 15px;
    }
    40% {
        height: 50px;
    }
    100% {
        height: 15px;
    }
}
@-webkit-keyframes rectangleFourAnim {
    0% {
        height: 15px;
    }
    40% {
        height: 40px;
    }
    100% {
        height: 15px;
    }
}
@keyframes rectangleFourAnim {
    0% {
        height: 15px;
    }
    40% {
        height: 40px;
    }
    100% {
        height: 15px;
    }
}
@-webkit-keyframes rectangleFiveAnim {
    0% {
        height: 15px;
    }
    40% {
        height: 30px;
    }
    100% {
        height: 15px;
    }
}
@keyframes rectangleFiveAnim {
    0% {
        height: 15px;
    }
    40% {
        height: 30px;
    }
    100% {
        height: 15px;
    }
}
.loaderScreen{
    gap: 0 3px;
}
.loaderScreen div{
    width: 10px;
    height: 16px;
    -webkit-animation: 0.9s ease-in-out infinite;
    animation: 0.9s ease-in-out infinite;
    background: #40A6E0;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 10px rgba(18, 31, 53, 0.2);
}
.loaderScreen div:nth-child(1){
    -webkit-animation-name: rectangleOneAnim;
    animation-name: rectangleOneAnim;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.loaderScreen div:nth-child(2){
    -webkit-animation-name: rectangleTwoAnim;
    animation-name: rectangleTwoAnim;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    background: var(--bgred);
}
.loaderScreen div:nth-child(3){
    -webkit-animation-name: rectangleThreeAnim;
    animation-name: rectangleThreeAnim;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.loaderScreen div:nth-child(4){
    -webkit-animation-name: rectangleFourAnim;
    animation-name: rectangleFourAnim;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
    background: var(--bgred);
}
.loaderScreen div:nth-child(5){
    -webkit-animation-name: rectangleFiveAnim;
    animation-name: rectangleFiveAnim;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
img{
    border-style: none;
    vertical-align: middle;
    -o-object-fit: cover;
    object-fit: cover;
    height: auto;
    width: auto;
}
::-webkit-scrollbar{
    width: 7px;
}
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    mix-blend-mode: multiply;
}
.shadow-auto{
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.08);
}
.transform50{
    transform: translate(-50%, -50%);
}

.tansitionall{
    transition: all .4s linear;
}
.tansitionall2{
    transition: all .4s ease-in-out;
}
.tansitionheader{
    transition: all 0.6s ease;
}
.services_img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background: var(--textsky);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s linear;
}
.grayscale1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
    background: #3EA3DC;
    mix-blend-mode: multiply;
    opacity: 0;
    transition: all 0.3s linear;
    transform: scale(0) scaleY(0);
}

.grayscale1:hover::before {
    opacity: 1;
    transform: scale(1) scaleY(1);
}
.grayscale1:hover h2{
    opacity: 1;
    top: 50%;
    z-index: 10;
}
.services_img:hover::before{
    opacity: 1;
    visibility: visible;
}
.services_img:hover .curimg{
    display: none;
}
.services_img:hover .hoverimg{
    display: block;
}
.services_img:hover .h3{
    color: var(--textfff);
}
.header.active{
    position: fixed;
    top: 0px;
    transition: 0.3s linear;
}
.nopadding{
    transition: all .3s ease-in-out;
    background: var(--textfff);
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.breadcump::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--breadcump);
    mix-blend-mode: multiply;
}
.transfrom70{
    transform: translate(-50%, -70%);
}
.react-fancybox .thumbnail img{
    max-width: 100% !important;
    width: 100%;
    height: 380px;
}
.image::before{
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    top: -20px;
    left: 20px;
    background-color: rgba(62, 163, 220, 0.8);
    z-index: -2;
}
.service.active div::before{
    opacity: 1;
    visibility: visible;
}
.service.active .curimg{
    display: none;
}
.service.active .hoverimg{
    display: block;
}
.service.active .h3{
    color: var(--textfff);
}
.border-undisplay{
    border: none !important;
}
.distribution.active{
    transition: all 0.4s ease;
    box-shadow: 0px 6px 6px rgba(148, 147, 147, 0.55);
}
.serviced .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #262323;
}
.serviced .swiper-pagination-bullet-active{
    background-color: #484848;
    width: 15px;
    height: 15px;
}
.productionimg:hover img{
    transform: translateY(-15px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.productionimg:hover .h2{
    background: var(--textsky);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.productionimg:hover .h2 h2{
    color: var(--textfff);
}
.margin10{
    margin: 10px !important;
}
.tab2n:nth-child(2n){
    
    background-color: #fff;
}
.tab2n:nth-child(2n) .row2n{
    flex-direction: row-reverse;
}
.blog h1{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 10px;
}
.blog h2{
    font-weight: 600;
    font-size: 30px;
    color: var(--textsky);
}
@media screen and (max-width:767px) {
    .blog h1{
        font-size: 20px;
    }
    .blog h2{
        font-size: 20px;
    }
}
.rounded-left{
    border-top-right-radius: 10px;
    background: var(--date);
}
.mobileHeader.open-header{
    right: 0;
}
.mobile-menu-overlay{
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(25, 25, 25, 0.75);
}
.mobile-menu-overlay.active {
    visibility: visible;
    opacity: 1;
}
.spiper-loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
  }
  
  .spiper-loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }
  .carouselbanner h2{
    font-size: 60px;
    text-align: left;
    font-weight: 600;
    line-height: 1.4;
    color: var(--textfff);
  }